* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	#menu {
		flex: 2;
		ul {
			list-style: none;
		}
	}
	#content-wrapper {
		flex: 8;
		.flex-viewport {
			width: 200px;
			margin: 0 auto;
			text-align: center;
			ul {
				list-style: none;
				li {
					.hiragana-text {
						font-size: 140px;
					}
				}
			}
		}
	}
	.flex-control-paging {
		/*display: none;*/
	}
}

