<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="htdocs/css/common/style.css">
        <title>ひらがな</title>
    </head>
    <body>
        <ul id="menu">
            <li data-mode="sequential">じゅんばん</li>
            <li data-mode="random">ばらばら</li>
            <li data-mode="name">なまえ</li>
        </ul>

        <div id="content-wrapper">
            <ul id="slider-holder">
                
            </ul>
        </div>

        <script type="text/template" id="tpl-sequentialview">
            name: <%= name %><br>
            age: <%= age %>
        </script>

        <script src="cordova.js"></script>
        <script type="text/javascript" src="htdocs/js/require.js" data-main="htdocs/js/app.js"></script>
    </body>
</html>